* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 100px auto 100px; /*this define how much columns in one line. Here we can also fr  unit for responsive.*/
  grid-template-rows: 300px 300px;
  /* grid-row-gap: 3px;
    grid-column-gap: 3px;
    


    /*The grid-gap property in CSS is now deprecated, which means that it is no longer recommended to use it. It has been replaced by the gap property, which can be used to control the spacing between grid items in both rows and columns.

There are a few reasons why the grid-gap property is now deprecated:

It is less concise and readable than the gap property.
It is not supported by all browsers, while the gap property is supported by all major browsers.
It is more likely to conflict with other CSS properties, such as the margin and padding properties.
To fix the strikethrough in VS Code, you can simply replace the grid-gap property with the gap property. 

    
    */

  gap: 10px;
  text-align: center;
}

.container-grid {
  height: 100%;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(12, 1fr);
  font-size: 2rem;
  text-align: center;
}

.container-grid .header {
  padding: 10px;
  background-color: #f1c40f;
  /* grid-column: 1/3 ; 
  grid-column: 1/ span 2;
  */
  grid-column: 1/-1;
}

.container-grid .menu {
  padding: 10px;
  background-color: #1abc9c;
}

.container-grid .content {
  padding: 10px;
  grid-column: 2/-1;
  background-color: #d35400;
}

.container-grid .footer {
  padding: 10px;
  /* grid-column: 1 / span 2; */
  grid-column: 1/-1;
  background-color: #3498db;
}

.container_visual {
  margin-top: 100px;
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "m m m c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.container_visual .header {
  grid-area: h;
  background-color: #f1c40f;
}

.container_visual .footer {
  grid-area: f;
  background-color: #3498db;
}

.container_visual .menu {
  grid-area: m;
  background-color: #1abc9c;
}

.container_visual .content {
  background-color: #d35400;
  grid-area: c;
}

.container_autoFit {
  margin-top: 150px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
}
.container_autoFit div {
  font-size: 2rem;
  padding: 20px 20px;
  text-align: center;
}
