/* 

If we want to use top or left property then we have to chage the value of position form static to relative.
You know position absolute are alawys depends on position relative. And if we use absolute on a div then the parent div must be a position relative or position fixed.

*/

body {
  margin: 0;
}
div {
  background: aqua;
  width: 400px;
  height: 400px;
  /*position: static //this the default value of div position.*/
  margin: 0;
  /* margin-left: 20px;
  margin-top: 20px; */
}
.main {
  position: relative;
  top: 50px;
  left: 50px;
}
.sec {
  background: blueviolet;
  width: 100px;
  height: 100px;
  right: 10px;
  bottom: 10px;
  position: fixed;
}
.child {
  background: plum;
  width: 50px;
  height: 50px;
  /* left: auto; */
  left: 50%;
  margin-left: -25px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
}
.stk {
  background: gold;
  width: 100%;
  height: 100px;
  position: sticky;
  bottom: 0;
  left: 0;
}
